header .wrapper{background: url('../../images/header-main.jpg') no-repeat center;background-size:;background-size: cover;/* min-height: 316px; *//* padding-top: 29px; */margin: 0 -0 0px 0;width: 100%;}
/*header .wrapper.about_section{background-image:url(/images/header/header-about.jpg);}
header .wrapper.product_section{background-image:url(/images/header/header-about.jpg);}
header .wrapper.auth_section{background-image:url(/images/header/header-about.jpg);}
header .wrapper.trading-conditions_section{background-image:url(/images/header/header-about.jpg);}
header .wrapper.accounts_section{background-image:url(/images/header/header-about.jpg);}
header .wrapper.analytics_section{background-image:url(/images/header/header-about.jpg);}
header .wrapper.platform_section{background-image:url(/images/header/header-platform.jpg);}
header .wrapper.partnerships_section{background-image:url(/images/header/header-platform.jpg);}
header .wrapper.promotions_section{background-image:url(/images/header/header-platform.jpg);}*/




